#four-pointed-star{

    
    width:20px;
    font-size:20px;
  }
  
  #four-pointed-star:before{
    content:"";
    position:absolute;
    background:rgb(255, 255, 255);
    width:20px;
    height:20px;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  #four-pointed-star:after{
    content:"";
    position:absolute;
    background:rgb(255, 255, 255);
    width:20px;
    height:20px;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }


  @media only screen and (max-width: 1440px){
    #hireme{
      font-size: 12px;
    
    }
  }

  @media only screen and (max-width: 412px){
    #start-bg{
      height: 40px;
      width: 40px;
    }
    #four--star{
      height: 25px;
      width: 25px;
    }
    #email{
      display: none;
    }
    #elements{
      display: none;
    }
    #hireme{
      transform: translateX(-180px);
    }
  }
  