@media only screen and (max-width:1440px){
    #skill-container{
        height: 220px;
    }
    #react-native{
        height: 90px;
    }
}


@media only screen and (max-width:412px){
    #main-container1{
        display: none;
        
    }
}
